.App .wrapper {
  max-width: 1000px;
  background: #fff;
  border: 1px solid rgb(65 50 100 / 8%);
  border-radius: 10px;
  box-shadow: 0 20px 30px rgb(65 50 100 / 8%);
  padding: 40px;
  color: #272343;
  margin: 30px auto;
}
